<div class="new-event-inputs">
  <h1>Let's create a new event!</h1>

  <div class="container">
    <form [formGroup]="newEventForm">

      <div class="form-group row">
        <label for="event-title" class="col-form-label col-2">Title: </label>
        <div class="col-10">
          <input id="event-title" formControlName="title" [placeholder]="'Title'" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="start-date" class="col-form-label col-2">Start date: </label>
        <div class="col-10">
          <input NgTempusdominusBootstrapInput id="start-date" formControlName="startDate" [options]="options"
                 [placeholder]="'Start date'" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="end-date" class="col-form-label col-2">End date: </label>
        <div class="col-10">
          <input NgTempusdominusBootstrapInput id="end-date" formControlName="endDate" [options]="options"
                 [placeholder]="'End date'" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12">
          <button type="submit" (click)="createNewEvent()" [disabled]="!newEventForm.valid" class="btn btn-primary">Add event</button>
        </div>
      </div>
    </form>
  </div>
</div>
